/* Variables */
/* Product page styles */
.block-7 .color-block .color-img {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s; }
  .block-7 .color-block .color-img input {
    display: none; }
  .block-7 .color-block .color-img:hover, .block-7 .color-block .color-img.active {
    border: 1px solid #2D74FF; }
  .block-7 .color-block .color-img.disabled {
    opacity: 0.2;
    cursor: not-allowed; }
    .block-7 .color-block .color-img.disabled:hover {
      border: 1px solid rgba(0, 0, 0, 0.05); }
