@import "variables.scss";

/* Product page styles */

.block-7{ 
	.color-block{
		.color-img{
			input{
				display: none;
			}
			height: 80px;
			width: 80px;
			border-radius: 10px;
			border: 1px solid rgba(0, 0, 0, 0.05);
			overflow: hidden;
			cursor: pointer;
			transition: all 0.2s;
			&:hover, &.active{
				border: 1px solid $accent-blue-4; 
			}
			&.disabled{
				opacity: 0.2; 
				cursor: not-allowed;
				&:hover{
					border: 1px solid rgba(0, 0, 0, 0.05); 
					
				}
			}
		}
	}
}
